
.DS_Store
college.fsproj
ConsoleApp1.sln
ConsoleApp1/.DS_Store
ConsoleApp1/bin/Debug/net8.0/ConsoleApp1
ConsoleApp1/bin/Debug/net8.0/ConsoleApp1.deps.json
ConsoleApp1/bin/Debug/net8.0/ConsoleApp1.dll
ConsoleApp1/bin/Debug/net8.0/ConsoleApp1.pdb
ConsoleApp1/bin/Debug/net8.0/ConsoleApp1.runtimeconfig.json
ConsoleApp1/ConsoleApp1.csproj
ConsoleApp1/obj/ConsoleApp1.csproj.nuget.dgspec.json
ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.props
ConsoleApp1/obj/ConsoleApp1.csproj.nuget.g.targets
ConsoleApp1/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
ConsoleApp1/obj/Debug/net8.0/apphost
ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.AssemblyInfo.cs
ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.AssemblyInfoInputs.cache
ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.assets.cache
ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.csproj.CoreCompileInputs.cache
ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.csproj.FileListAbsolute.txt
ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.dll
ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.GeneratedMSBuildEditorConfig.editorconfig
ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.genruntimeconfig.cache
ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.GlobalUsings.g.cs
ConsoleApp1/obj/Debug/net8.0/ConsoleApp1.pdb
ConsoleApp1/obj/Debug/net8.0/ref/ConsoleApp1.dll
ConsoleApp1/obj/Debug/net8.0/refint/ConsoleApp1.dll
ConsoleApp1/obj/project.assets.json
ConsoleApp1/obj/project.nuget.cache
ConsoleApp2/.DS_Store
ConsoleApp2/bin/Debug/net8.0/ConsoleApp2
ConsoleApp2/bin/Debug/net8.0/ConsoleApp2.deps.json
ConsoleApp2/bin/Debug/net8.0/ConsoleApp2.dll
ConsoleApp2/bin/Debug/net8.0/ConsoleApp2.pdb
ConsoleApp2/bin/Debug/net8.0/ConsoleApp2.runtimeconfig.json
ConsoleApp2/ConsoleApp2.csproj
ConsoleApp2/ConsoleApp2.fsproj
ConsoleApp2/obj/ConsoleApp2.csproj.nuget.dgspec.json
ConsoleApp2/obj/ConsoleApp2.csproj.nuget.g.props
ConsoleApp2/obj/ConsoleApp2.csproj.nuget.g.targets
ConsoleApp2/obj/ConsoleApp2.fsproj.nuget.dgspec.json
ConsoleApp2/obj/ConsoleApp2.fsproj.nuget.g.props
ConsoleApp2/obj/ConsoleApp2.fsproj.nuget.g.targets
ConsoleApp2/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
ConsoleApp2/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.fs
ConsoleApp2/obj/Debug/net8.0/apphost
ConsoleApp2/obj/Debug/net8.0/ConsoleApp2.AssemblyInfo.cs
ConsoleApp2/obj/Debug/net8.0/ConsoleApp2.AssemblyInfo.fs
ConsoleApp2/obj/Debug/net8.0/ConsoleApp2.AssemblyInfoInputs.cache
ConsoleApp2/obj/Debug/net8.0/ConsoleApp2.assets.cache
ConsoleApp2/obj/Debug/net8.0/ConsoleApp2.csproj.AssemblyReference.cache
ConsoleApp2/obj/Debug/net8.0/ConsoleApp2.csproj.CoreCompileInputs.cache
ConsoleApp2/obj/Debug/net8.0/ConsoleApp2.csproj.FileListAbsolute.txt
ConsoleApp2/obj/Debug/net8.0/ConsoleApp2.dll
ConsoleApp2/obj/Debug/net8.0/ConsoleApp2.fsproj.AssemblyReference.cache
ConsoleApp2/obj/Debug/net8.0/ConsoleApp2.GeneratedMSBuildEditorConfig.editorconfig
ConsoleApp2/obj/Debug/net8.0/ConsoleApp2.genruntimeconfig.cache
ConsoleApp2/obj/Debug/net8.0/ConsoleApp2.GlobalUsings.g.cs
ConsoleApp2/obj/Debug/net8.0/ConsoleApp2.pdb
ConsoleApp2/obj/Debug/net8.0/ref/ConsoleApp2.dll
ConsoleApp2/obj/Debug/net8.0/refint/ConsoleApp2.dll
ConsoleApp2/obj/project.assets.json
ConsoleApp2/obj/project.nuget.cache
ConsoleApp2/Program.fs
ConsoleApp3/bin/Debug/net8.0/ConsoleApp3
ConsoleApp3/bin/Debug/net8.0/ConsoleApp3.deps.json
ConsoleApp3/bin/Debug/net8.0/ConsoleApp3.dll
ConsoleApp3/bin/Debug/net8.0/ConsoleApp3.pdb
ConsoleApp3/bin/Debug/net8.0/ConsoleApp3.runtimeconfig.json
ConsoleApp3/ConsoleApp3.csproj
ConsoleApp3/obj/ConsoleApp3.csproj.nuget.dgspec.json
ConsoleApp3/obj/ConsoleApp3.csproj.nuget.g.props
ConsoleApp3/obj/ConsoleApp3.csproj.nuget.g.targets
ConsoleApp3/obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.cs
ConsoleApp3/obj/Debug/net8.0/apphost
ConsoleApp3/obj/Debug/net8.0/ConsoleApp3.AssemblyInfo.cs
ConsoleApp3/obj/Debug/net8.0/ConsoleApp3.AssemblyInfoInputs.cache
ConsoleApp3/obj/Debug/net8.0/ConsoleApp3.assets.cache
ConsoleApp3/obj/Debug/net8.0/ConsoleApp3.csproj.CoreCompileInputs.cache
ConsoleApp3/obj/Debug/net8.0/ConsoleApp3.csproj.FileListAbsolute.txt
ConsoleApp3/obj/Debug/net8.0/ConsoleApp3.dll
ConsoleApp3/obj/Debug/net8.0/ConsoleApp3.GeneratedMSBuildEditorConfig.editorconfig
ConsoleApp3/obj/Debug/net8.0/ConsoleApp3.genruntimeconfig.cache
ConsoleApp3/obj/Debug/net8.0/ConsoleApp3.GlobalUsings.g.cs
ConsoleApp3/obj/Debug/net8.0/ConsoleApp3.pdb
ConsoleApp3/obj/Debug/net8.0/ConsoleApp3.sourcelink.json
ConsoleApp3/obj/Debug/net8.0/ref/ConsoleApp3.dll
ConsoleApp3/obj/Debug/net8.0/refint/ConsoleApp3.dll
ConsoleApp3/obj/project.assets.json
ConsoleApp3/obj/project.nuget.cache
obj/college.fsproj.nuget.dgspec.json
obj/college.fsproj.nuget.g.props
obj/college.fsproj.nuget.g.targets
obj/Debug/net8.0/.NETCoreApp,Version=v8.0.AssemblyAttributes.fs
obj/Debug/net8.0/college.AssemblyInfo.fs
obj/Debug/net8.0/college.AssemblyInfoInputs.cache
obj/Debug/net8.0/college.assets.cache
obj/Debug/net8.0/college.fsproj.AssemblyReference.cache
obj/project.assets.json
obj/project.nuget.cache
Program.fs
